---

---

<body>
	<header>header</header>
	<main>main</main>
	<footer>footer</footer>
</body>

<style>
	@reference "@/styles/global.css";
	body {
		@apply grid min-h-dvh grid-rows-[auto_1fr_auto];
	}
	main {
		@apply flex items-center justify-center;
	}
</style>
