@import 'tailwindcss';

/**@custom-variant dark (&:where(.dark, .dark *));**/
@theme {
  --radius-box: 255px 15px 225px 15px/15px 225px 15px 255px;

  --animate-bounce: bounce 1s ease-in-out infinite;
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  --animate-underline: underlineAnimation 1s infinite;
  @keyframes underlineAnimation {
    0% {
      text-decoration-color: transparent;
    }
    50% {
      text-decoration-color: currentColor;
    }
    100% {
      text-decoration-color: transparent;
    }
  }
}
@layer base {
  html {
    @apply antialiased;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    color-scheme: dark light;
  }
}
