// Variables
$primary: #8fc045;
$grey: #ccc;

$palette-pink: #ff78bc;
$palette-blue: #34d0ff;
$palette-orange: #d0854b;
$palette-yellow: #f7eb3c;
$palette-violet: #bf78ff;

// #ED2634

// https://coolors.co/app/ff77bb-34D0FF-D0854B-FEFA59-bf78ff

$dp-hides-width: 720px;

// Mixins
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($animations...) {
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin gradient-vertical-img(
  $start-color: #555,
  $start-percent: 0%,
  $end-color: #333,
  $end-percent: 100%,
  $img: ""
) {
  background-image: -webkit-linear-gradient(
      top,
      $start-color $start-percent,
      $end-color $end-percent
    ),
    $img; // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(
      top,
      $start-color $start-percent,
      $end-color $end-percent
    ),
    $img; // Opera 12
  background-image: linear-gradient(
      to bottom,
      $start-color $start-percent,
      $end-color $end-percent
    ),
    $img; // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@mixin transform($transforms...) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin transform-origin($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin filter($filter...) {
  -webkit-filter: $filter;
  -moz-filter: $filter;
  -ms-filter: $filter;
  -o-filter: $filter;
  filter: $filter;
}

.icon-container.connect {
  z-index: -2;
  @include transition(z-index 0s 0.5s linear);

  .icon-holder {
    top: 28em;
    @include transition(
      all 0.5s linear /* cubic-bezier(0,.06,.1,1.01) */,
      visibility 0s linear
    );
  }
}

.hive {
  margin-top: 5em;
  width: 720px;
  // overflow: hidden;
  margin-left: calc(50% - 360px);

  > .line {
    margin-top: -1.5em;

    &:nth-child(1),
    &:nth-child(7) {
      padding-left: calc(3.2em * 3);
    }

    &:nth-child(2),
    &:nth-child(6) {
      padding-left: calc(3.2em * 2);
    }

    &:nth-child(3),
    &:nth-child(5) {
      padding-left: calc(3.2em * 1);
    }
  }

  .hex-container {
    display: inline-block;
    height: 114px;

    &:not(.level-3):hover {
      .hex {
        background: $palette-blue;
        z-index: 2;
      }
      .hex-border {
        @include transform(scale(1.4));
        background: $palette-yellow;
        z-index: 0;
      }
    }
  }

  .hex,
  .hex-border {
    width: 87px;
    height: 50px;
    background: $primary;
    display: inline-block;
    position: relative;
    @include transition(all 0.25s linear);

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 87px;
      height: 50px;
      @include transform-origin(center);
      @include transition(transform 0.25s ease-in);
      background: inherit;
      z-index: -1;
    }

    &:before {
      @include transform(rotate(-60deg));
    }

    &:after {
      @include transform(rotate(60deg));
    }
  }

  .hex-border {
    margin-top: 28px;
    padding: 4px 6px;
    box-sizing: border-box;
    background: none;
    opacity: 0;
    @include transition(all 0.125s linear);

    &,
    &:before,
    &:after {
      width: 99px;
      height: 58px;
      z-index: -2;
    }
  }

  &.square {
    .hex,
    .hex-border {
      &:before,
      &:after {
        @include transform(rotate(0deg));
      }
    }
  }

  &.plus {
    .hex,
    .hex-border {
      &:before {
        @include transform(rotate(-90deg));
      }

      &:after {
        @include transform(rotate(90deg));
      }
    }

    .hex-container.icon.profile .hex {
      &:before,
      &:after {
        background: #d2d956;
      }
    }
  }
  .hex-container.icon {
    span {
      background: url('/social-icons.png');
      width: 50px;
      height: 50px;
      display: block;
      margin-left: 19px;
    }

    &.profile {
      span {
        display: none;
      }
      .hex {
        background: url('/img/profile-128.png');
        background-size: 108%;
        background-position: 50%;

        &:after {
          background: url('/img/profile-128-min-60deg.png');
          background-position: 50%;
          background-size: 150%;
        }
        &:before {
          background: url('/img/profile-128-60deg.png');
          background-position: 50%;
          background-size: 150%;
        }
      }
      .hex-border {
        background: $primary;
      }

      &:hover {
        .hex-border {
          background: $primary;
        }
      }
    }

    &.behance {
      .hex {
        background: #1769ff;
      }
      span {
        background-position: -110px -178px;
      }
    }
    &.github {
      .hex {
        background: #333;
      }
      span {
        background-position: -109px -240px;
      }
    }
    &.twitter {
      .hex {
        background: #5ea9dd;
      }
      span {
        background-position: -40px 2px;
        margin-left: 15px;
        margin-top: 2px;
      }
    }
    &.medium {
      .hex {
        background: #00ab6c;
      }
      span {
        background-position: -414px -474px;
        width: 51px;
      }
    }
    &.mail {
      .hex {
        background: #9800e6;
      }
      span {
        background-position: -109px -119px;
      }
    }
    &.flickr {
      .hex {
        background: #ff1983;
        background: #0262dc;
      }
      span {
        background-position: -289px -473px;
        background-position: -355px -175px;
      }
    }
    &.deviantart {
      .hex {
        background: #01d13c;
      }
      span {
        background-position: -170px -303px;
      }
    }
    &.codepen {
      .hex {
        background: #333;
      }
      span {
        background-position: -170px -238px;
      }
    }
    &.stackoverflow {
      .hex {
        background: #ffa500;
      }
      span {
        background-position: -56px -234px;
        height: 55px;
        margin-top: -4px;
      }
    }
    &.steam {
      .hex {
        background: #231f20;
      }
      span {
        background-position: 0px -473px;
        margin-left: 22px;
      }
    }
    &.vine {
      .hex {
        background: #00b386;
      }
      span {
        background-position: -50px -471px;
      }
    }
    &.quora {
      .hex {
        background: #c41a00;
      }
      span {
        background-position: 0px -236px;
      }
    }
    &.facebook {
      .hex {
        background: #3765a3;
      }
      span {
        background-position: 0px 0px;
        margin-left: 32px;
        margin-top: 3px;
      }
    }
    &.reddit {
      .hex {
        background: #88bfe6;
      }
      span {
        background-position: -473px -239px;
        margin-left: 18px;
        width: 55px;
      }
    }
    &.skype {
      .hex {
        background: #00aaf1;
      }
      span {
        background-position: 0px -114px;
      }
    }
    &.youtube {
      .hex {
        background: #cd201f;
      }
      span {
        background-position: 0px -51px;
        margin-left: 20px;
        margin-top: -2px;
        height: 55px;
      }
    }
    &.linkedin {
      .hex {
        background: #0274b3;
      }
      span {
        background-position: -342px 0px;
      }
    }
    &.tumblr {
      .hex {
        background: #36465d;
      }
      span {
        background-position: -354px -52px;
      }
    }
    &.instagram {
      .hex {
        background: #d83573;
      }
      span {
        background-position: -108px -473px;
      }
    }
  }

  .hex-container.icon:hover .hex {
    // background: $primary;
  }

  .level-0 {
    // width: 99px;
    // height: 14px;
    position: relative;

    img {
      width: 99px;
      position: absolute;
      left: 0;
      margin-top: -60px;
    }

    &:hover img {
      width: 120px;
    }
  }

  .level-1 {
    .hex {
      background: $palette-violet;
    }
  }

  .level-2 {
    .hex {
      background: $palette-pink;
    }
  }

  .level-3 {
    .hex {
      background: $grey;
    }
  }

  &.first-animate {
    .level-0 .hex-border {
      @include animation(
        hex_boom_1 1s 0.5s ease-out,
        visible 2s 0.5s ease-in-out
      );
    }

    .level-1 .hex {
      @include animation(l1_color 4s 1s ease-out);
    }
    .level-1 .hex-border {
      @include animation(
        hex_boom_1 1.3s 1s ease-out,
        visible 1.5s 1s ease-in-out
      );
    }

    .level-2 .hex {
      @include animation(l2_color 3s 1.5s ease-out);
    }
    .level-2 .hex-border {
      @include animation(
        hex_boom_1 1.6s 1.5s ease-out,
        visible 1s 1.5s ease-in-out
      );
    }

    .level-3 .hex {
      @include animation(l3_color 4.5s 0.5s ease-out);
    }
    .level-3 .hex-border {
      @include animation(hex_boom_1 0s 1s ease-out, visible 1s 2s ease-in-out);
    }
  }

  &.loaded {
    .hex-border {
      opacity: 1;
    }
  }

  &.loaded-animate {
    .level-0 .hex-border {
      @include animation(hex_boom_centre 1s 0.5s ease-out);
    }

    .level-1 .hex-border {
      @include animation(hex_boom 1.3s 0.65s ease-out);
    }

    .level-2 .hex-border {
      @include animation(hex_boom 1.6s 0.8s ease-out);
    }

    .level-3 .hex-border {
      @include animation(hex_boom 2s 0.95s ease-out);
    }
  }
}
@media (max-height: 850px) {
  .hive {
    margin-top: 7em;
  }
  .icon-container.connect .icon-holder {
    top: calc(7em + 160px);
  }
}
@media (max-width: 850px) {
  .icon-container.connect {
    .icon-holder {
      // top: 33.5em;
      @include transform(scale(0.65));
    }
  }
  .hive {
    @include transform(scale(0.7));
  }
}
@media (max-width: 550px) {
  .icon-container.connect {
    .icon-holder {
      top: 12em;
      @include transform(scale(0.7));
    }
  }
  .hive {
    margin-top: 2em;
    width: 520px;
    margin-left: calc(50% - 260px);

    .level-3 {
      display: none;
    }

    &.loaded-animate .level-0 .hex-border,
    &.loaded-animate .level-1 .hex-border,
    &.loaded-animate .level-2 .hex-border {
      @include animation(none);
    }
  }
  .icon-container.connect .icon-holder {
    top: calc(2em + 160px);
  }
}
@media (max-width: $dp-hides-width) {
  .icon-container.connect .icon-holder {
    margin-left: -3px;
  }
}

// https://jsbin.com/qawumefala/
@include keyframes(hex_boom) {
  0% {
    @include transform(scale(1));
    background-color: inherit;
  }
  30% {
    @include transform(scale(1.2));
    background-color: black;
  }
  60% {
    @include transform(scale(1));
    background-color: inherit;
  }
  100% {
    @include transform(scale(1));
    background-color: inherit;
  }
}
@include keyframes(hex_boom_centre) {
  0% {
    @include transform(scale(1));
    background-color: $primary;
  }
  30% {
    @include transform(scale(1.2));
    background-color: black;
  }
  60% {
    @include transform(scale(1));
    background-color: black;
  }
  100% {
    @include transform(scale(1));
    background-color: $primary;
  }
}

@include keyframes(hex_boom_1) {
  0% {
    @include transform(scale(1));
    background-color: none;
  }
  30% {
    @include transform(scale(1.5));
  }
  60% {
    @include transform(scale(1));
  }
  // 90%  { top: -10px; }
  100% {
    @include transform(scale(1));
  }
}

@include keyframes(visible) {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(l1_color) {
  0% {
    background: white;
  }
  30% {
    background: $palette-pink;
  }
}

@include keyframes(l2_color) {
  0% {
    background: white;
  }
  30% {
    background: $palette-blue;
  }
}

@include keyframes(l3_color) {
  0% {
    background: trasparent;
  }
  1% {
    background: $grey;
  }
  2% {
    background: #fff;
  }
  50% {
    background: #fff;
  }
}
